@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');


body{
    background-image: url('https://wallpaperaccess.com/full/4174801.jpg');
   width: 1440px;
}

.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 450px;   

    button{
        width: 200px;
        height: 100px;
        background-color: white;
        color: rgb(2, 157, 189);
        border: none;
        border-radius:5px;
        font-size: 30px;
        font-family: 'Source Sans Pro', sans-serif;

        &:hover{
            width: 200px;
            height: 100px;
            background-color: rgb(54, 54, 54);
            color: orange;
        }
    }    
}

.showInfo{
       
font-size: 50px;
}


